{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLICKER</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <div class='flex-center'>
        <h1>HEY CLICKER</h1>
        <p class="counter" id="counter">{{maincycle.coins_count}}</p>
        <button onclick="call_click()">click me</button>
    </div>
</body>
</html>